/*Mise en forme du texte*/
h1{
    font-size: 2.5rem;
    margin-bottom: .8rem;
    text-align: center;
}
a{
    text-decoration: none;
}
.text-white{
    color: white;
}
.text-red{
    color: red;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
/*Mise en Page*/
.d-flex{
    display: flex;
}
.d-inline-block{
    display: inline-block;
}
.justify-space-bet{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-space-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}   
.back-color-red{
    background-color:  red;
}
.back-color-white{
    background-color: white;
}
.cursor-pointer{
    cursor: pointer;
}
.border-none{
    border: none;
}
.border-radius-5{
    border-radius: 5px;
}
.border-radius-10{
    border-radius: 10px;
}


/*Commun*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.heading-layout{
    display: flex;
    justify-content: center;
}
.font-size-2{
    font-size: 2rem;
}
.btn{
    background-color: red;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: .5rem;
    font-size: 1.2rem;
}
.btn:hover{
    background-color: #d40000;
    cursor: pointer;
}

label{
    margin-bottom: .3rem;
    font-weight: 600;
}
input,select{
    padding: .5rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #dddddd; 
    border-radius: 0.2rem 0 0.2rem 0.2rem;
}
input:focus,select:focus{
    border-color: #ee0000;
    outline: none;
}

/*Général*/
body{
    margin: 0;
    padding: 0;
    font: 400 1rem 'Open Sans', sans-serif;
    color: #333333;
    background: #eff1f5;
    min-height: 100%;
    position: relative;
}
*,::after,::before{
    box-sizing: border-box;
}
.page-wrapper{
    background: #eff1f5;
}

/*Contenu de la page*/
.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
    min-height: 100vh;
}
/*Header*/
.header{
    background: #ffffff;
    border-bottom: 1px solid #e0e3e8;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
}
.header-nav{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    min-height: 66px;
}
.header-brand{
    background-color: red;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    color: white;
    min-width: 250px;
}
.header-brand .logo{
    padding: 0.5rem 1rem;
    min-height: 50px;
    display: flex;
    align-items: center;
    color: white;
}
.header-brand .logo img{
    max-width: 160px;
    max-height: 50px;
    border-radius: 10px;    
    margin-right:5px
}
.link-btn:hover .icon-menu{
    color: white;
}
#nav-btn{
    padding: 0.5rem; 
    display: none;
}
.user-layout{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.user-content a{
    display: flex;
    align-items: center;
    padding: 8px 1rem;
    color: black;
}
.user-content:hover{
    background-color: #eff1f5;
}
.user-content span{
    margin-right: 8px;
}
.user-content img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
/*Contenu de la page*/
.search-layout{
    margin: 1rem;
}
.search-layout form{
    display: flex;
    border: 1px solid rgba(0,0,0,0.2);
}
.search-layout input{
    border: none;
    font-size: 1rem;
}
.search-layout button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: white;
    border-left: 1px solid rgba(0,0,0,0.2);
}
.search-layout button:hover{
    background-color: red;
}
.search-layout button:hover i{
    color: white;
}
.search-layout i {
    padding: 0 15px; 
}
.icon{
    color: red; 
}
.main-container{
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: 100px 0 0 0;
}
.nav-sort{
    display: flex;
    align-items: center;
}
.link-btn{
    display: inline-block;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    width: min-content;
    cursor: pointer;
}
.link-btn:hover{
    background-color: red;
}
.link-btn:hover .icon-add,.link-btn:hover .icon-home{
    color: white;
}
.icon-add,.icon-home{
    padding: 0.5rem;
}
.login-page{
    background-image: linear-gradient(120deg, black , #FF3333);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-layout{
    padding: 20vh 0;
}
.login-form h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}
.login-form{
    width: 360px;
    background-color: #ffffff;
    padding: 80px 40px;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.login-form input{
    margin: 30px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}
.login-form button{
    color: white;
    width: 100%;
    margin: 30px 0;
    border-radius: 0;
    background-color: rgb(216, 21, 21);
}
.login-form button:hover{
    background-color: rgb(184, 20, 20);
}
/*Table*/
.table-container{
    padding: 0.6rem;
    background: #ffffff;
    border-radius: 10px;
    border-bottom: 1px solid #e0e3e8;
}
.table{
    border-collapse: collapse;
    color: #333333;
    width: 100%;
}
.custom-table{
    border: 1px solid #d3d9e0;
}
.custom-table thead{
    background: #eef0f5;
}
.custom-table thead th{
    border: 0;
}
.table th{
    padding: .8rem 1rem;
    font-weight: 600;
}
.table td{
    padding: .65rem 1rem;
    text-align: center;
}
.custom-table > tbody td{
    border: 1px solid #d9dee4;
}

/*Formulaire de la page Edit.php*/
.form-layout{
    padding: 1.25rem 1.25rem;
    border-radius: 1rem;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    max-width: 700px;
    flex-direction: column;
}
.form-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-group{
    margin: 0 0 3rem 0;
    display: flex;
    align-items: center;
}
.label-layout{
    width: 50%;
}
.form-group input,.form-group select{
    width: 100%;
    font-size: 1.3rem;
}
.form-edit .form-btn{
    text-align: center;
}
.form-edit .form-btn .btn{
    font-size: 1.4rem;
}

.check-layout{
    margin: 1rem 0 1rem 0;
    color: black;
    font-size: 1rem;
}
/*Responsive*/
@media only screen and (min-width : 991px) and (max-width : 1324px){
    .main-container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        margin:100px auto 0 auto;
    }
}
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .main-container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        margin:100px auto 0 auto;
    }
    .header-nav ul{
        display: none;
    }
    .header-nav{
        justify-content: flex-end;
    }
   
    /*Table responsive*/
    .custom-table thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .custom-table > tbody td{
        display: flex;
        align-items: center;
    }
    .custom-table tr { 
        border: 1px solid rgb(121, 115, 115); 
    }
    .custom-table tr:nth-of-type(odd) {
        background:#eee;
    }
    .custom-table td:before{
        text-align: left;
        width: 50%;
        display: flex;
        font-weight: 600;
    }
    .custom-table td:nth-of-type(1):before { 
        content: "ID"; 
        }
    .custom-table td:nth-of-type(2):before { 
        content: "Date"; 
    }
    .custom-table td:nth-of-type(3):before { 
        content: "Étage"; 
    }
    .custom-table td:nth-of-type(4):before { 
        content: "Position"; 
    }
    .custom-table td:nth-of-type(5):before { 
        content: "Puissance"; 
    }
    .custom-table td:nth-of-type(6):before { 
        content: "Marque"; 
    }
    .custom-table td:nth-of-type(7):before { 
        content: "Modifier"; 
    }
    .custom-table td:nth-of-type(8):before { 
        content: "Supprimer"; 
    }
}
@media only screen and (min-device-width : 480px) and (max-width:767.98px){
    .main-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin:90px auto 0 auto;
    }
    .header{
        justify-content: center;
        background-color: red;
    }
    .header-brand .logo{
        min-height: 75px;
    }
    .header-nav{
        justify-content: flex-end;
    }
    .header-nav ul{
        display: none;
    }
    .user-layout{
        margin-right: 1rem;
    }
    .user-content a{
        padding: 17px 1rem;
    }
    .user-content a:hover{
        background-color: red;
    }
    .user-content a span{
        color: white;
    }
    .user-content>a{
        color: white;
    }
    .icon-exit{
        color: white;
    }
    #nav-btn{
        display: flex;
    }
    h1{
        display: none;
    }
    .search-layout{
        display: none;
    }
    .form-group{
        flex-direction: column;
    }
    .label-layout{
        width: 100%;
    }
    .label-layout label{
        font-size: 1.2rem;
    }
    /*Table responsive*/
    table, thead, tbody, th, td, tr {
        display: block;
    }
    .custom-table a{
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    .custom-table a i{
        font-size: 1.3rem;
    }
    
    .custom-table thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .custom-table > tbody td{
        display: flex;
        align-items: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    .custom-table tr { 
        border: 1px solid rgb(121, 115, 115); 
    }
    .custom-table tr:nth-of-type(odd) {
        background:#eee;
    }
    .custom-table td:before{
        text-align: left;
        width: 50%;
        display: flex;
        font-weight: 600;
    }
    .custom-table td:nth-of-type(1):before { 
        content: "ID"; 
        }
    .custom-table td:nth-of-type(2):before { 
        content: "Date"; 
    }
    .custom-table td:nth-of-type(3):before { 
        content: "Étage"; 
    }
    .custom-table td:nth-of-type(4):before { 
        content: "Position"; 
    }
    .custom-table td:nth-of-type(5):before { 
        content: "Puissance"; 
    }
    .custom-table td:nth-of-type(6):before { 
        content: "Marque"; 
    }
    .custom-table td:nth-of-type(7):before { 
        content: "Modifier"; 
    }
    .custom-table td:nth-of-type(8):before { 
        content: "Supprimer"; 
    }
}
@media only screen and (max-device-width : 480px)  {
    .main-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin:90px auto 0 auto;
    }
    .header{
        justify-content: center;
        background-color: red;
    }
    .form-group{
        flex-direction: column;
    }
    .label-layout{
        width: 100%;
    }
    .label-layout label{
        font-size: 1.2rem;
    }
    .header-brand{
        display: none;;
    }
    .header-brand .logo{
        min-height: 75px;
    }
    .header-nav ul{
        display: none;
    }
    #nav-btn{
        display: flex;
    }
    h1{
        display: none;
    }
    .search-layout{
        display: none;
    }
    .header-nav{
        margin: 0;
    }
    .user-layout{
        margin-right: 1rem;
        justify-content: space-between;
        width: 100%;
    }
    .user-content a{
        padding: 17px 1rem;
    }
    .user-content a:hover{
        background-color: red;
    }
    .user-content a span{
        color: white;
    }
    .user-content>a{
        color: white;
        flex-direction: row-reverse;
    }
    .icon-exit {
        color: white;
    }
    /*Table responsive*/
    table, thead, tbody, th, td, tr {
        display: block;
    }
    .custom-table a{
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    .custom-table a i{
        font-size: 1.3rem;
    }
    
    .custom-table thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .custom-table > tbody td{
        display: flex;
        align-items: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    .custom-table tr { 
        border: 1px solid rgb(121, 115, 115); 
    }
    .custom-table tr:nth-of-type(odd) {
        background:#eee;
    }
    .custom-table td:before{
        text-align: left;
        width: 50%;
        display: flex;
        font-weight: 600;
    }
    .custom-table td:nth-of-type(1):before { 
        content: "ID"; 
        }
    .custom-table td:nth-of-type(2):before { 
        content: "Date"; 
    }
    .custom-table td:nth-of-type(3):before { 
        content: "Étage"; 
    }
    .custom-table td:nth-of-type(4):before { 
        content: "Position"; 
    }
    .custom-table td:nth-of-type(5):before { 
        content: "Puissance"; 
    }
    .custom-table td:nth-of-type(6):before { 
        content: "Marque"; 
    }
    .custom-table td:nth-of-type(7):before { 
        content: "Modifier"; 
    }
    .custom-table td:nth-of-type(8):before { 
        content: "Supprimer"; 
    }
}