/*Mise en forme du texte*/
h1{
    font-size: 2.5rem;
    margin-bottom: .8rem;
}
a{
    text-decoration: none;
}


/*Mise en Page*/
/*Commun*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.heading-layout{
    display: flex;
    justify-content: center;
}
.font-size-2{
    font-size: 2rem;
}
.btn{
    background-color: red;
    color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: .5rem;
    font-size: 1.2rem;
}
.btn:hover{
    background-color: #d40000;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
label{
    margin-bottom: .3rem;
    font-weight: 600;
}
input,select{
    padding: .5rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #dddddd;
    border-radius: 0.2rem;
}
input:focus,select:focus{
    border-color: #ee0000;
    outline: none;
}

/*Général*/
body{
    margin: 0;
    padding: 0;
    font: 400 1rem 'Open Sans', sans-serif;
    color: #333333;
    background: #eff1f5;
    min-height: 100%;
    position: relative;
}
*,::after,::before{
    box-sizing: border-box;
}
.page-wrapper{
    background: #eff1f5;
}



/*Contenu de la page*/
.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
    min-height: 100vh;
    /*padding-left: 230px;*/
}
/*Header*/
.header{
    background: #ffffff;
    border-bottom: 1px solid #e0e3e8;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
}
.header-nav{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}
.header-nav ul{
    display: flex;
}
.header-nav li{
    font-size: 1.5rem;
    padding: 10px 1.5rem;
    color: red;
}
.header-nav li:hover a{
    color: red;
    text-decoration: underline;
}
.header li a {
    color: #333333;
}
.header-brand{
    background-color: #ee0000;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    color: white;
}

.header-brand .logo{
    padding: 0.5rem 1rem;
    min-height: 50px;
    display: flex;
    align-items: center;
    color: white;
}
.header-brand .logo img{
    max-width: 160px;
    max-height: 50px;
    border-radius: 10px;
    margin-right:5px
}
.link-btn:hover .icon-menu{
    color: white;
}
#nav-btn{
    padding: 0.5rem; 
    /*display: flex;*/
    display: none;
}
.header-search{
    margin-right: 3rem;
    display: flex;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.header-search input{
    border: none;
}
.header-search a{
    display: flex;
}
.header-search i {
    padding: 0 15px;
    border-left: 1px solid #dddddd;
}
.icon{
    color: red; 
}
.main-container{
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: 100px 0 0 0;
}
.link-btn{
    display: inline-block;
    margin: 0.5rem 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
}
.link-btn:hover{
    background-color: red;
}
.link-btn:hover .icon-add,.link-btn:hover .icon-home{
    color: white;
}
.icon-add,.icon-home{
    padding: 0.5rem;
}


/*Table*/
.table-container{
    padding: 0.6rem;
    background: #ffffff;
    border-radius: 10px;
    border-bottom: 1px solid #e0e3e8;
}
.table{
    border-collapse: collapse;
    color: #333333;
    width: 100%;
}
.custom-table{
    border: 1px solid #d3d9e0;
}
.custom-table thead{
    background: #eef0f5;
}
.custom-table thead th{
    border: 0;
}
.table th{
    padding: .8rem 1rem;
    font-weight: 600;
}
.table td{
    padding: .65rem 1rem;
    text-align: center;
}
.custom-table > tbody td{
    border: 1px solid #d9dee4;
}

/*Formulaire de la page Edit.php*/
.form-layout{
    padding: 1.25rem 1.25rem;
    border-radius: 1rem;
    background-color: #ffffff;
}
.form-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group{
    margin: 0 0 1rem 0;
    display: inline-block;
}